	<section id="fh5co-previous" data-section="Previous">
			<section id="fh5co-chipotle" data-section="chipotle">

		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-left">
					<h2 class=" left-border to-animate">{{ with .Site.Params.chipotle.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 subtext to-animate">
							<h3>{{ with .Site.Params.chipotle.description }}{{ . | markdownify }}{{ end }}</h3>


						</div>

					</div>
				</div>
			</div>

<div class="container">
			<div class="row row-bottom-padded-lg">
				{{ range .Site.Params.introbutton.item }}
				
					
						
						<p><a href="{{ .url }}" class="btn btn-primary">{{ .button}}</a></p>
					
				
				{{ end }}

			<div class="row">
			{{ range .Site.Params.chipotle.item }}
				<div class="col-md-6 col-sm-6 fh5co-service to-animate">
					<i class="icon to-animate-2 {{ .icon | markdownify }}"></i>
					<h3>{{ .title | markdownify }}</h3>
					<figure><img src="images/{{ .img }}" alt="{{ .alt }}"></figure>
					<p>{{ .description | markdownify }}</p>


				</div>
				<div class="clearfix visible-sm-block"></div>

			{{ end }}

			</div>
		</div>
	</section>
	</section>
